#titleDiv {
    
}

body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#sizeForm {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
#matrixFormatTable {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

hr {
    border: none;
    /* top    */ border-top: 1px solid #ccc;
    /* middle */ background-color: #ddd; color: #ddd;
    height: 1px;
    *height: 2px; /* IE6+7 need the total height */
}
/* .dark-hr {  */
/*     display: block;  */
/*      height: 1px; */
/*      border: 0;  */
/*      border-top: 1px solid #323223; */
/*      margin: 1em 0;  */
/*      padding: 0;  */
/* } */

.matrixTable {
    margin-left:auto;
    margin-right:auto;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-bottom: none;
}
#detArea {
    text-align:center;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}


#computeButtonDiv {
    
    text-align: center;
}
#computeButton {
    /* margin-left:  auto; */
    /* margin-right: auto; */
}

#sizeForm .matrixInput {
    width: 70px;
}
.matrixData {
    padding: 10px;
}
.matrixData input {
    min-width: 70px;
}

/* griddy */

.grid {
    @include clearfix;
    margin: 1em 1em;
    
}
.grid-unit {
    /* box-sizing: border-box; */
    /* display: block; */
    float: left;
    padding: 0 .5em 1.5em;
    width: 100%;
}
.layout .grid-unit {
    width: 20%;
}
@media screen and (min-width: 40em) {
    .home-features .grid-unit {
        width: 50%;
    }
}
@media screen and (min-width: 60em) {
    .home-features .grid-unit {
        width: 25%;
    }
}